/* You can add global styles to this file, and also import other style files */
@use '@angular/material' as mat;

* {
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  box-sizing: border-box;
}

body{
  padding: 0;
  margin: 0;
  @include mat.theme((
    color: (
      theme-type: light,
      primary: mat.$azure-palette,
      tertiary: mat.$blue-palette,
    ),
    typography: Roboto,
    density: 0,
  ));
}



.auth-info {
  font-size: 16px;
  color: #f3f3f3;
  a {
    font-size: 16px;
    color:#007fff ;
  }
}


.error-popup{
    @include mat.dialog-overrides((
      container-shape: 0.8rem,
      subhead-line-height: 1.6rem,
      subhead-color: #a94442,
      actions-alignment: left
    ));

}

